@model VetApp.Models.AplicaVacuna

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AplicaVacuna</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodMascota" class="control-label"></label>
                <select asp-for="CodMascota" class ="form-control" asp-items="ViewBag.CodMascota"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodVacuna" class="control-label"></label>
                <select asp-for="CodVacuna" class ="form-control" asp-items="ViewBag.CodVacuna"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaPrevista" class="control-label"></label>
                <input asp-for="FechaPrevista" class="form-control" />
                <span asp-validation-for="FechaPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosisAplicada" class="control-label"></label>
                <input asp-for="DosisAplicada" class="form-control" />
                <span asp-validation-for="DosisAplicada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
